In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset
dataset=load_dataset('lukebarousse/data_jobs')
df=dataset['train'].to_pandas()
df['job_posted_date']=pd.to_datetime(df['job_posted_date'])

In [5]:
#We want to fill up the nan values with the median on the columns keeping the original on intact
median_year_avg=df['salary_year_avg'].median()
median_year_avg

115000.0

In [7]:
median_salary_hour=df['salary_hour_avg'].median()

In [10]:
#when we modify my dataset..i need to keep the original one intact
df_filled=df
df_filled['salary_year_avg']=df_filled['salary_year_avg'].fillna(median_year_avg)
df_filled['salary_hour_avg']=df_filled['salary_hour_avg'].fillna(median_salary_hour)

In [13]:
#DROP DUPLICATES
df_unique=df_filled
df_unique=df_unique.drop_duplicates()

print('Length of filled dataframe: ',len(df_filled))
print('Length of unique dataframe: ',len(df_unique))
print('No of lines dropped: ',len(df_filled)-len(df_unique))

Length of filled dataframe:  785741
Length of unique dataframe:  785640
No of lines dropped:  101

In [14]:
df_unique=df_unique.drop_duplicates(subset=['job_title', 'company_name'])
print('Length of filled dataframe: ',len(df_filled))
print('Length of unique dataframe: ',len(df_unique))
print('No of lines dropped: ',len(df_filled)-len(df_unique))

Length of filled dataframe:  785741
Length of unique dataframe:  508042
No of lines dropped:  277699