In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#IMPORTING DATASET
from datasets import load_dataset
dataset=load_dataset('lukebarousse/data_jobs') 
df=dataset['train'].to_pandas()

#CLEANING THE DATA
df['job_posted_date']=pd.to_datetime(df['job_posted_date'])
import ast
#convert the column of job_skill in the dataframe to a list(initially it was in the datatype string)
#it can be carried out by ast.literaleval
def clean_string(skill_list):
    if pd.notna(skill_list):
        return ast.literal_eval(skill_list)
    else:
        return skill_list
df['job_skills']=df['job_skills'].apply(clean_string)

In [2]:
df_US=df[df['job_country']=='United States']

In [3]:
df_skills=df_US.explode('job_skills')

In [8]:
df_skill_count=df_skills.groupby(['job_skills', 'job_title_short']).size()
df_skill_count

job_skills  job_title_short
airflow     Business Analyst               38
            Cloud Engineer                 27
            Data Analyst                  387
            Data Engineer                4716
            Data Scientist               1166
                                         ...
zoom        Machine Learning Engineer       5
            Senior Data Analyst            50
            Senior Data Engineer           30
            Senior Data Scientist          25
            Software Engineer              16
Length: 1870, dtype: int64